@using DevOps.ProjectManager.Models
@model DevOps.ProjectManager.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JRO.DevOps</h1>
    <p class="lead">Project Manager is a webapplication that I've created to learn all about ASP.NET MVC, JQuery, Javascript, WebApi's and much more.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest projects</h2>
        <ul>
            @foreach (Project project in Model.Projects)
            {
                <li>@Html.ActionLink(project.Name, "Details", "Projects", new { project.Id }, new { @class = "btn-link" })</li>
            }
        </ul>
        <p>@Html.ActionLink("View more", "Index", "Projects")</p>
    </div>
    <div class="col-md-4">
        <h2>Latest issues</h2>
        <ul>
            @foreach (Issue issue in Model.Issues)
            {
                <li>@Html.ActionLink(issue.Name, "Details", "Issues", new { issue.Id }, new { @class = "btn-link" })</li>
            }
        </ul>
        <p>@Html.ActionLink("View more", "Index", "Issues")</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>