@model IEnumerable<DevOps.ProjectManager.Models.Issue>

@{
    ViewBag.Title = "Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Issues</h2>
@Html.ActionLink("New issue", "New", "Issues", null, new { @class = "btn btn-primary" })
<table id="issues" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Project</th>
            <th>Date updated</th>
            <th>Date created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@*<div id="mainIssueDetails" style="display:none">
    <button id="closeIssueDetails" class="btn btn-primary">Close</button>
    <div id="issueDetails" class="shadowBox">

    </div>
</div>

<div id="mainIssueEdit" style="display:none">
    <button id="closeIssueEdit" class="btn btn-primary">Close</button>
    <div id="issueEdit" class="shadowBox">

    </div>
</div>*@

<!-- Modal - Issue Edit -->
<div class="modal fade" id="modalIssueEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Issue edit</h4>

                </div>
                <div class="modal-body" id="issueEdit"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Issue Details -->
<div class="modal fade" id="modalIssueDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Issue details</h4>

                </div>
                <div class="modal-body" id="issueDetails"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#issues").DataTable({
                ajax:
                {
                    url: "/api/issues",
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "name",
                    },
                    {
                        data: "priority.name"
                    },
                    {
                        data: "project.name"
                    },
                    {
                        data: "dateUpdated"
                    },
                    {
                        data: "dateCreated"
                    },
                    {
                        data: "id",
                        render:
                        function (data)
                        {
                            return "<button id='issuedelete' class='btn-link js-delete' data-issue-id=" + data + ">Delete</button> <button  data-toggle='modal' data-target='#modalIssueEdit' class='btn-link js-edit' data-issue-id=" + data + ">Edit</button> <button data-toggle='modal' data-target='#modalIssueDetails' class='btn-link js-details' data-issue-id=" + data + ">Details</button>";
                        }
                    }
                ]
            });
        });

        $("#issues").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this issue?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/issues/" + button.attr("data-issue-id"),
                            method: "DELETE",
                            success: function () {
                                $("#issues").row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        $("#issues").on("click", ".js-details", function () {
            var button = $(this);
            var projectId = button.attr("data-issue-id")
            var url = '@Url.Action("DetailsExt", "Issues")'
            url += "/" + projectId

            //Show elements
            $('#issueDetails').load(url, { id: projectId });
        });

        $("#issues").on("click", ".js-edit", function () {
            var button = $(this);
            var projectId = button.attr("data-issue-id")
            var url = '@Url.Action("Edit", "Issues")'
            url += "/" + projectId

            //Show elements
            $('#issueEdit').load(url, { id: projectId });
        });
    </script>    
}